# Sample Data Verification

In this document we will list the ISBN and LCCN numbers, along with the title of the book, which you can use for verifying the output should you decide to run the cmdlets with the sample data.

Note there are variations in the formatting for both LCCN and (especially) ISBN. Please see the respective Overview documents for more information.

## Notes about the data

At least one book in the set, Radio Handbook Twenty-Second Edition (by Bill Orr) had both the LCCN and ISBN listed, making for a great test case.

ISBN numbers can be either 10 or 13 numbers. One book in the series, Delmar's Standard Textbook of Electricity, listed both versions and was included for use as another good test case.

## LCCN

| LCCN | Title |
|-------|-------|
| 54-9698 | Elements of Radio Servicing |
| 40-33904 | Radio Handbook Twenty-Second Edition |
| 41-3345 | The Radio Amateur's Handbook 42nd Edition 1965 |
| 64-20875 | Early Electrical Communication |
| 74-75450 | VHF Handbook for Radio Amateurs |
| 76-190590 | Wire Antennas for Radio Amateurs |
| 71-120473 | 73 Vertical, Beam, and Triangle Antennas |

## ISBN

| ISBN | Title |
|-------|-------|
| 0-87259-481-5 | Your HF Digital Companion |
| 0-8306-7801-8 | Master Handbook of Ham Radio Circuits (Hardback) |
| 0-8306-6801-2 | Master Handbook of Ham Radio Circuits (Paperback) |
| 0-672-21874-7 | Radio Handbook Twenty-Second Edition |
| 0-07-830973-5 | Electricity Principles and Applications |
| 978-1418065805 | Delmar's Standard Textbook of Electricity |
| 1418065803 | Delmar's Standard Textbook of Electricity |
| 978-0-9890350-5-7 | The Antique Wireless Association Review Volume 31 |
| 1-887736-06-9 | Crystal Set Projects |
| 0-914126-02-4 | Vintage Radio |

---

## Author Information

### Author

Robert C. Cain | [@ArcaneCode](https://twitter.com/arcanecode) | arcanecode@gmail.com

### Websites

About Me: [http://arcanecode.me](http://arcanecode.me)

Blog: [http://arcanecode.com](http://arcanecode.com)

Github: [http://arcanerepo.com](http://arcanerepo.com)

LinkedIn: [http://arcanecode.in](http://arcanecode.in)

### Copyright Notice

This document is Copyright (c) 2023 Robert C. Cain. All rights reserved.

The code samples herein is for demonstration purposes. No warranty or guarantee is implied or expressly granted.

This document may not be reproduced in whole or in part without the express written consent of the author and/or Pluralsight. Information within can be used within your own projects.
